<!-- </div>
<form [formGroup]="formTransaction" (ngSubmit)="onSubmit()">
  <div>
    <label for="Tipo">Tipo: </label>
    <input id="tipo" type="text" formControlName="tipo" />
    <label for="Data">Data: </label>
    <input id="data" type="text" formControlName="data" />
    <label for="Valor">Valor: </label>
    <input id="valor" type="text" formControlName="valor" />
    <label for="CPF">CPF: </label>
    <input id="cpf" type="text" formControlName="cpf" />
  </div>
  <div>
    <label for="Cartao">Cartao: </label>
    <input id="cartao" type="text" formControlName="cartao" />
    <label for="Hora">Hora: </label>
    <input id="hora" type="text" formControlName="hora" />
    <label for="DonoDaLoja">Dono da Loja: </label>
    <input id="donoDaLoja" type="text" formControlName="donoDaLoja" />
    <label for="NomeDaLoja">Nome Da Loja: </label>
    <input id="nomeDaLoja" type="text" formControlName="nomeDaLoja" />
  </div>

  <button type="submit" [disabled]="!formTransaction.valid">Submit</button>
</form> -->
<div>
  <button (click)="getButton()">GET</button>
</div>

<div id="data-grid">
  <dx-data-grid id="gridContainer" [dataSource]="dataSource" keyExpr="name" [showBorders]="true">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
      <dxo-popup title="Transaction Info" [showTitle]="true" [width]="700" [height]="525">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
          <dxi-item dataField="name"></dxi-item>
          <dxi-item dataField="branchView"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="name"></dxi-column>
    <dxi-column dataField="branchView"></dxi-column>
  </dx-data-grid>
</div>
